*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(244, 235, 223);
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 25%;
    

}
.square {
    margin-top: 10px;
    background: white;
    width: 750px;
    height: 550px;
    margin-bottom: 80px;
    
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.635);
    border-radius: 20px;

}
.square button{
    background-color: rgb(3, 99, 32);
    border: none;
    
    padding: 10px 280px;
    margin-left: 20px;
    cursor: pointer;

}
.square input{
    padding:5px 20px;
}
.square form{
    margin-left: 30px;
    padding: 10px;
}
.square #box2{
    padding:8px  70px;
    
}
.square #box3{
    padding:30px 250px;
}
.square #box4{
    padding:8px 250px;
}
.square #box5{
    padding:8px  70px;
    margin-left: 40px;
}
.square #box6{
    padding:5px  50px;
    margin-left: 10px;
}
.square #label2{
    margin-left: 10px;
}
